/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Noto+Sans:wght@400;700&family=Roboto:wght@100;300;400&display=swap');

:root {
    --dark: #040d21;
    --light: #f6f6f6;
    --palette1: #f7ede6;
    --palette2: #f34e4f;
    --palette3: #2f494a;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}

h1 {
    font-family: 'Noto sans', sans-serif;
    font-weight: 700;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.neumorphic {
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.gradient-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-color: white;
}

.mint-blue-gradient {
    background-image: -webkit-linear-gradient(70deg, #a2facf, #64acff);
}

.pink-blue-gradient {
    background-image: -webkit-linear-gradient(70deg, #db469f,#2188ff);
}

.big-button {
    padding: 10px;
    margin: 10px;
    width: max(10%, 100px);
    text-align: center;
    border-radius: 5px;
    background-color: var(--dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--light);
    text-decoration: none;
    box-shadow: 0 0 0 1px rgba(53,72,91,.1),0 3px 2px rgba(0,0,0,.04),0 7px 5px rgba(0,0,0,.02),0 13px 10px rgba(0,0,0,.02),0 22px 17px rgba(0,0,0,.02);
}

.section-container {
    margin-top: 20%;
}

.section-container section {
    padding: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-container section * {
    margin: 0px;
}

.section-container svg:first-child {
    display: block;
}

.section-container svg:last-child {
    display: block;
    transform: scaleY(-1); /* horizontal flip */
}

.section-container section img {
    width: 40vw;
}

.info-block {
    display: block;
    width: 500px;
    margin: 0;
}

.info-block h1 {
    font-size: min(4em, 10vw);
}

.dark.section-container section {
    background-color: var(--dark);
}

.dark.section-container svg:first-child path {
    color: var(--dark);
}

.dark.section-container svg:last-child path {
    color: var(--dark);
}

.dark.section-container section * {
    color: var(--light);
}

.light.section-container section {
    background-color: var(--light);
}

.light.section-container svg:first-child path {
    color: var(--light);
}

.light.section-container svg:last-child path {
    color: var(--light);
}

.light.section-container section * {
    color: var(--dark);
}