<div class="app-root">
    <app-top-bar *ngIf="ready"></app-top-bar>
    <div class="list-container">
        <app-route-list *ngIf="ready"></app-route-list>
        <div class="message-list-container">
            <app-messages-top-bar></app-messages-top-bar>
            <app-message-list *ngIf="ready" [messages]="messageRoute!.messages"></app-message-list>
            <div class="message-form">
                <form [formGroup]="messageForm" (ngSubmit)="onMessageFormSubmit()">
                    <input type="text" name="" id="" formControlName="message">
                    <button class="big-button" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>