body {
    background-image: url("../img/home.svg");
}

section {
    width: 30%;
    padding: 5%;
    margin: 5%;
    background-color: var(--light);
    border-radius: 5px;
    transition: transform 600ms ease-in-out;
}

section div {
    padding: 5%;
}

section.right {
    float: right;
}

section img {
    width: 50vw;
    position: absolute;
    z-index: -1;
}

section.right img {
    transform: scaleX(-1); /* horizontal flip */
}