<div class="top-bar">
    <p>Routes</p>
    <button (click)="onNewRouteClick()" class="new-route-button">+</button>
</div>
<app-popup [shown]="showNewRoutePopup">
    <img src="./assets/cross.svg" alt="popup close button" class="cross" (click)="showNewRoutePopup = false">
    <p>Generate a new route:</p>
    <button class="big-button" (click)="onCreateRoute()">Generate</button>
    <div *ngIf="routeCreated">
        <p>New route generated! Your route word-key is:</p>
        <h1>{{ createRouteWordKey }}</h1>
    </div>
    <p>Add a route by word-key:</p>
    <form [formGroup]="addRouteForm" (ngSubmit)="onAddRouteFormSubmit()">
        <label>
            Word-key: <input type="text" name="" id="" formControlName="wordKey">
        </label>
        <button type="submit" class="big-button">Add route</button>
    </form>
</app-popup>
<div>
    
</div>
<div *ngFor="let route of routes; index as i">
    <app-small-profile [routerLink]="['/route', i]" [userInfo]="route.userInfo"></app-small-profile>
</div>