.list-container {
    display: flex;
    width: 100%;
}

.list {
    border: 1px solid grey;
}

app-route-list {
    flex-grow: 1;
}

app-message-list {
    flex-grow: 2;
}

.app-root {
    display: flex;
    flex-direction: column;
}