.messages-container {
    height: 86vh;
    overflow-y: scroll;
}

.messages-container .message-list-item:first-child {
    border-top: 1px solid grey;
}

.message-list-item {
    display: flex;
    border-bottom: 1px solid grey;
    border-top: 0;
    width: 100%;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
}

.message-list-item p {
    margin: 0;
    padding: 1%;
    line-break: anywhere;
}

.message-list-item p:first-child {
    width: 10%;
    flex-shrink: 0;
    overflow-wrap: break-word;
}

.message-list-item :last-child {
    flex-grow: 10;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 7vh;
}
