.message-list-item {
    display: flex;
    border-bottom: 1px solid grey;
    border-top: 0;
    width: 100%;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
}

.message-list-item p {
    margin: 0;
    padding: 1%;
    line-break: anywhere;
}

.message-list-item p:first-child {
    width: 10%;
    flex-shrink: 0;
    overflow-wrap: break-word;
}

.message-list-item :last-child {
    flex-grow: 10;
}

.new-user-info {
    text-align: center;
    padding: 5%;
}