<div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="input-label-group">
            <label>Username</label>
            <input type="text" name="" id="" formControlName="username">
        </div>
        <button type="submit" [disabled]="!registerForm.valid" class="big-button">Register</button>
        <div *ngIf="username!.invalid && (username?.dirty || username?.touched)" class="warning">
            <div *ngIf="username!.errors?.required">
                Username is required.
            </div>
            <div *ngIf="username!.errors?.minLength">
                Username must be at least one character long.
            </div>
            <div *ngIf="username!.errors?.usernameTaken">
                That username is taken.
            </div>
        </div>
    </form>
    <p>Already have an account? <a routerLink="/login.html">Login here</a>.</p>
</div>
<app-popup [shown]="popupShown">
    <h1 class="popup-header">Registration successful!</h1>
    <p>
        Welcome to Emissary, {{ registerdUsername }}! Here is your very own personal word key. Write it down or store it somewhere secure (not on this public computer). It is unique and the <b>only way to access your account</b>, so <b>don't lose it</b> and <b>never share it with anyone</b>.
    </p>
    <h1>{{ wordKey }}</h1>

    <div class="button-container">
        <a routerLink="/app.html" class="big-button">Continue</a>
    </div>
</app-popup>