<div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="input-label-group">
            <label>Username</label>
            <input type="text" name="" id="" formControlName="username">
        </div>
        <button type="submit" [disabled]="!registerForm.valid" class="big-button">Register</button>
        <div *ngIf="username!.invalid && (username?.dirty || username?.touched)" class="warning">
            <div *ngIf="username!.errors?.required">
                Username is required.
            </div>
            <div *ngIf="username!.errors?.minLength">
                Username must be at least one character long.
            </div>
            <div *ngIf="username!.errors?.usernameTaken">
                That username is taken.
            </div>
        </div>
    </form>
    <p>Already have an account? <a routerLink="/login.html">Login here</a>.</p>
</div>
<app-popup [shown]="shown">
    <h1 class="popup-header">Registration successful!</h1>
    <p>
        Welcome to Emissary, {{ registerdUsername }}! Here is a download link to your very own personal key. It is unique and the <b>only way to access your account</b>, so <b>don't lose it</b> and <b>never share it with anyone</b>.
    </p>
    <div class="button-container">
        <a [href]="keyDataURL" [download]="registerdUsername + '.key.json'" class="big-button" (click)="this.downloaded = true">Download</a>
    </div>

    <div class="button-container">
        <a routerLink="/app.html" class="big-button" [ngClass]="{'disabled': !downloaded}">Continue</a>
    </div>
</app-popup>